# Logs
logs
*.log
npm-debug.log*

/coverage
/node_modules
.npm
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/versions
.pnp.*

# Build files
/.tmp
/build

*.tgz
/.vscode/extensions.json
*.tsbuildinfo
.eslintcache
__diff_output__

docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/config.ts.timestamp*
docs/api/